@layout('layout')
@section('content')

@each(service in services)
    @!component('components.item', { id: service.id, color: 'red', icon: service.icon, title: service.title, value: 'stopped' })
@endeach

<!-- New Service -->
@!component('components.item', { id: 'addNewServiceModalBtn', color: 'blue', icon: 'plus fas', title: 'Add new Service', modal: 'newService'})
@!component('components.modal', { id: 'newService', title: 'Add new Service', main: 'Test', csrfField: csrfField()})
@endsection