
    <div class="item">
        <h2 id="os">OS: Unkown</h2>
    </div>
    <div class="item">
        <span class="indicator green"></span>
        <h2 id="cpu">CPU: Unkown</h2>
    </div>
    <div class="item">
        <span class="indicator yellow"></span>
        <h2 id="ram">RAM: Unkown</h2>
    </div>
    <div class="item">
        <span class="indicator red"></span>
        <h2 id="diskspace">Disk: Unkown</h2>
    </div>